In [113]:
import pandas as pd
import datetime
from datetime import datetime
import numpy as np

In [114]:
data_df=pd.read_csv('Recruitment_pipeline_coded.csv')

C:\Users\sed_e\AppData\Local\Temp\ipykernel_5024\2042880330.py:1: DtypeWarning: Columns (26,27,29) have mixed types. Specify dtype option on import or set low_memory=False.
  data_df=pd.read_csv('Recruitment_pipeline_coded.csv')

In [115]:
data_df=data_df.drop(labels=['Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29'], axis = 1)
#data_df.dropna(axis=0)

In [116]:
#data_df=data_df[data_df['sex'].notna()]
#data_df=data_df[data_df['initial_contact_method'].notna()]
#data_df=data_df[data_df['visit_outcome'].notna()]
#data_df=data_df[data_df['study_id']].drop_duplicates()
#data_df=data_df.set_index('study_id')
#df=data_df.groupby(by=['study_id'], axis=1, as_index='True')
#data_df
#data_df.to_csv('test.csv')
#data_df['study_id'].value_counts()

### calculating the number of times that the participant was schedualed to show up
data_df['freq']=data_df.groupby('study_id')['study_id'].transform('count') - 1

### condesing all rows that are duplicates on the study_id into one. WARNING this is not perfect and we are losing some data in the visit_planned_date through the visit_outcome data. Right now it just picks either the first or last data that came up in those columns when combinding them
condensed_data=data_df.groupby(data_df['study_id']).aggregate({'study_id': 'first', 'sex': 'first', 'birthyear': 'first', 'initial_date': 'first', 'initial_contact_method': 'first', 'fu_dt_1':  'first', 'fu_method_1': 'first', 'fu_outcome_1': 'first', 'fu_dt_2': 'first'
,'fu_method_2': 'first', 'fu_outcome_2': 'first', 'fu_dt_3':'first', 'fu_method_3': 'first', 'fu_outcome_3': 'first', 'fu_dt_4':'first', 'fu_method_4': 'first', 'fu_outcome_4': 'first',  'fu_dt_5':'first', 'fu_method_5': 'first', 'fu_outcome_5': 'first', 'visit_planned_date': 'first'
, 'visit_reminder_date': 'first', 'actual_visit_date':'first', 'visit_weekday':'first', 'coded_location':'first', 'visit_outcome':'last', 'freq':'first'})

### droping data where visit outcome is na
condensed_data=condensed_data[condensed_data['visit_outcome'].notna()]

### making a data frame of just the contact attempts before the appointment
count_stuff=condensed_data[['fu_dt_1','fu_dt_2', 'fu_dt_3', 'fu_dt_4', 'fu_dt_5']]

### calculating the number of attempts made to contact the participant
condensed_data['contact_count']= 5- count_stuff.isnull().sum(axis=1)

### converting the birth year to a date
condensed_data['birthyear']=pd.to_datetime(condensed_data['birthyear'], format='%Y', exact=False)

### converting the actual_visit_date to a year
condensed_data['actual_visit_date']=pd.to_datetime(condensed_data['actual_visit_date'], format='%Y', exact=False)

### Calculating the age of the person at the time of their visit.... its stuck in days and not years right now :/
#condensed_data['Age_at_visit']=(condensed_data['actual_visit_date']- condensed_data['birthyear'])

condensed_data['birthyear'] = condensed_data.birthyear.dt.year

#condensed_data.age = condensed_data.age.fillna(-1)


# condensed_data['new_age'] = condensed_data['age'].apply(np.int64)

condensed_data['year'] = condensed_data.actual_visit_date.dt.year
condensed_data['age']= condensed_data['year'] - condensed_data['birthyear']
# condensed_data['time_fu_dt_2'] = condensed_data['fu_dt_2'].time()

#condensed_data['new_age'] = condensed_data['age'].apply(np.int64)

condensed_data["date_time_fu_dt_2"] = pd.to_datetime(condensed_data["fu_dt_2"])

#for d in condensed_data['date_time_fu_dt_2']:
 # condensed_data['date_fu_dt_2'] = d.date()
  #condensed_data['time_fu_dt_2'] = d.time()

condensed_data['date_fu_dt_2'] = pd.to_datetime(condensed_data['date_time_fu_dt_2']).dt.date
condensed_data['time_fu_dt_2'] = pd.to_datetime(condensed_data['date_time_fu_dt_2']).dt.time

condensed_data['age'] = condensed_data['age'].astype('Int16')

condensed_data

,study_id,sex,birthyear,initial_date,initial_contact_method,fu_dt_1,fu_method_1,fu_outcome_1,fu_dt_2,fu_method_2,...,visit_weekday,coded_location,visit_outcome,freq,contact_count,year,age,date_time_fu_dt_2,date_fu_dt_2,time_fu_dt_2
study_id,,,,,,,,,,,,,,,,,,,,,
0001b470ffdea9daf4e3e25a9cfb93d0,0001b470ffdea9daf4e3e25a9cfb93d0,2.0,1980.0,2/28/2021,email,3/9/2021 15:26,phone,None,4/8/2022 14:38,phone,...,M,7.0,no_show,2,5,2021,41,2022-04-08 14:38:00,2022-04-08,14:38:00
0003a8af34dd38929b6d0dff83a281e5,0003a8af34dd38929b6d0dff83a281e5,NaN,NaN,10/16/2019,self_referred,10/16/2019 15:11,phone,None,None,None,...,T,2.0,completed,1,1,2019,<NA>,NaT,NaT,NaT
00042cd8cfa979e5cbf9aa79a01ec23d,00042cd8cfa979e5cbf9aa79a01ec23d,2.0,1947.0,6/30/2021,email,7/8/2021 12:40,phone,crc_followup,4/8/2022 12:25,phone,...,R,1.0,no_show,3,4,2022,75,2022-04-08 12:25:00,2022-04-08,12:25:00
0014065de00658be8463cc209aae5bc1,0014065de00658be8463cc209aae5bc1,2.0,1961.0,1/17/2020,email,1/21/2020 17:50,phone,None,2/24/2022 17:13,phone,...,M,7.0,canceled,3,5,2020,59,2022-02-24 17:13:00,2022-02-24,17:13:00
001e2c5b018d498cd8498e2b9d0ce0c7,001e2c5b018d498cd8498e2b9d0ce0c7,2.0,1958.0,3/13/2020,email,None,None,None,None,None,...,M,2.0,rescheduled,2,0,2022,64,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ffec65b7a5fd2d36cd56e0b249322d1f,ffec65b7a5fd2d36cd56e0b249322d1f,NaN,1970.0,1/13/2020,in_person,1/13/2020 9:54,phone,None,None,None,...,W,2.0,completed,1,1,2020,50,NaT,NaT,NaT
ffeeb12c35a69dcdd34c4b2db6951789,ffeeb12c35a69dcdd34c4b2db6951789,2.0,1955.0,9/22/2019,email,10/21/2019 15:31,vm,None,10/23/2019 13:34,phone,...,F,5.0,reschedule_me_later,1,3,2019,64,2019-10-23 13:34:00,2019-10-23,13:34:00
ffef6be3cbb0c80342dba653133169df,ffef6be3cbb0c80342dba653133169df,1.0,1933.0,9/28/2019,email,None,None,None,None,None,...,T,7.0,canceled,1,0,2019,86,NaT,NaT,NaT
fffdb5ffd34614801b0eb102ad4527bd,fffdb5ffd34614801b0eb102ad4527bd,1.0,1981.0,4/20/2019,email,4/26/2019 9:00,phone,None,None,None,...,W,2.0,completed,1,1,2019,38,NaT,NaT,NaT
ffff49a8692e072fcb5df471ac7bd82a,ffff49a8692e072fcb5df471ac7bd82a,2.0,1972.0,3/3/2021,email,3/5/2021 15:26,phone,None,3/4/2022 14:49,vm,...,F,2.0,reschedule_me_later,1,3,2021,49,2022-03-04 14:49:00,2022-03-04,14:49:00

In [117]:
condensed_data.dtypes

study_id                          object
sex                              float64
birthyear                        float64
initial_date                      object
initial_contact_method            object
fu_dt_1                           object
fu_method_1                       object
fu_outcome_1                      object
fu_dt_2                           object
fu_method_2                       object
fu_outcome_2                      object
fu_dt_3                           object
fu_method_3                       object
fu_outcome_3                      object
fu_dt_4                           object
fu_method_4                       object
fu_outcome_4                      object
fu_dt_5                           object
fu_method_5                       object
fu_outcome_5                      object
visit_planned_date                object
visit_reminder_date               object
actual_visit_date         datetime64[ns]
visit_weekday                     object
coded_location                   float64
visit_outcome                     object
freq                               int64
contact_count                      int64
year                               int64
age                                Int16
date_time_fu_dt_2         datetime64[ns]
date_fu_dt_2                      object
time_fu_dt_2                      object
dtype: object

In [118]:
condensed_data.to_csv('test1.csv')